// Adopted from my coworker Paul's.

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;

	overflow-x: hidden;

  background-color: $grey;
}

a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}

.page-header {
  margin-top: 0;
  border-bottom: 1px solid #dadada;
  h5{
    padding-left: 15px;
    }
}

// taken from _sbs.haml: .page-header { margin: 0; padding: 1px 15px 15px; }



/////////////////////////////////////
///////// Sidebar Styling ///////////
/////////////////////////////////////
#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  &.toggled {
    padding-left: 210px;
    #sidebar-wrapper {
      width: 210px;
    }
    #page-content-wrapper {
      position: absolute;
      margin-right: -210px;
    }
  }
}
#sidebar-wrapper {
  position: fixed;
  left: 210px;
  width: 0;
  height: 100%;
  margin-left: -210px;
  overflow-y: auto;
  background: $admin_sidebar;
  transition: all 0.5s ease;
  font-size: .9em;
  font-weight: 200;

}
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  .property-client-back-btn{
    position: absolute;
    top: 53px;
    right: 40px;
  }
  .property-client-edit-btn{
    margin: 20px 0 0 20px;
  }
  .property-client-preview-btn,
  .property-client-delete-btn{
    margin-top: 20px;
  }
  .content-wrapper{
    background-color: $white;
    padding: 10px 20px 20px;
    border-radius: 2px;
    @extend .material-shadow;
 }
}
.nav-side-menu {
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 210px;
  height: 100%;
  color: #e1ffff;
  a {
    display: block;
    text-decoration: none;
    color: $admin_sidebar_text;
    &:hover {
      text-decoration: none;
      color: $white;
      background: $lighter;
    }
    &:active {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
    &.logout::before{
      @extend .iconography;
      @extend .sidebar-icon-settings;
      @include material-icon("power_settings_new");
    }
    &.profile::before{
      @extend .iconography;
      @extend .sidebar-icon-settings;
      @include material-icon("account_circle");
    }
    &.property_clients::before{
      @extend .iconography;
      @extend .sidebar-icon-settings;
      @include material-icon("location_city");
    }
    &.addons::before{
      @extend .iconography;
      @extend .sidebar-icon-settings;
      @include material-icon("library_add");
    }
  }
  .brand {
    background-color: $admin_sidebar_border;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
  }
  > .sidebar-brand {
    height: 65px;
    font-size: 1.4em;
    border-bottom: 1px solid $admin_sidebar_border;
    a {
      color: $admin_sidebar_text;
      height: 50px;
      display: inline-block;
      vertical-align: middle;
      margin-left: -10px;
      &:hover {
        color: $white;
        background: none;
      }
    }
    &:before{
      @extend .iconography;
      content: "";
      display: inline-block;

      background-size: 25px 60px;
      width: 45px;
      height: 52px;

      margin-left: 23px;

      background-image: url(fav-icon.svg);
      background-repeat: no-repeat;
    }
  }
  .logout {
    position: absolute;
    bottom: 0;
    border-top: 1px solid $admin_sidebar_border;
    width: 100%;
  }
}

.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  .active{
    border-left: 3px solid $prim;
    background-color: #4f5b69;
  }
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid $admin_sidebar_border;
  margin-left: 0px;
  &.active{
    color: $prim;
    a {
      color: $orange;
    }
  }
  &:hover {
    background-color: #020203;
  }
  &:before {
    @extend .iconography;
    @extend .sidebar-icon-settings;
    content: "-";
    margin: -1px 0 0 10px;
    font-weight: 800;
  }
}

.nav-side-menu li {
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid $admin_sidebar_border;
  text-indent: 20px;
  line-height: 40px;
  &:hover {
    border-left: 3px solid $prim;
    background-color: #4f5b69;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
  }
}

.nav-side-menu li a,
.analytics,
.dev-tools,
.resources{
  text-decoration: none;
  color: #e1ffff;
  padding-left: 30px;
}

// Temp Fix-- need more elegant solution to
// LI borders being stylistically broken once
// the last child ( logout ) is given absolute
// positioning, which results in double borders
// to last item in the list
.nav-side-menu .resources{ border-bottom: 0px; }

.analytics::before{
  @extend .iconography;
  @extend .sidebar-icon-settings;
  @include material-icon("multiline_chart");
}
.dev-tools::before{
  @extend .iconography;
  @extend .sidebar-icon-settings;
  @include material-icon("code");
}
.resources::before{
  @extend .iconography;
  @extend .sidebar-icon-settings;
  @include material-icon("import_contacts");
}



/////////////////////////////////////
/////////// Form Styles /////////////
/////////////////////////////////////
.form-control {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  box-shadow: none;
  border-radius: 0px !important;
  color: $light;
  &:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.form-right {
  background: $google_blue;
  h1{
    color: $white;
  }
  .control-label{
    color: $white;
  }
  .row-right{
    padding: 15px;
  }
  .form-control{
    background-color: $google_blue;
    border-bottom: 1px solid $prim;
    transition: .3s ease;
    color: $white;
    &:focus{
      border-bottom: 1px solid $teal;
    }
  }
  sup{
    color: whitesmoke;
  }
}

.form-left {
  border-bottom: 1px solid #dadada;
  .row-left{
    padding: 15px;
  }
  .form-control {
    border-bottom: 1px solid $google_blue;
    transition: .3s ease;
    color: $black;
    &:focus{
      border-bottom: 1px solid $cyan;
    }
  }
  sup {
    color: $black;
  }
}

sup { top: -2em; left: .75em; letter-spacing: .5px; }

.meta_information{ padding: 15px 40px 0; }



/////////////////////////////////////
////// Material Design Table ////////
/////////////////////////////////////
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
  table-layout: auto;
  transition: .75s ease-in-out;
  > {
    thead > tr, tbody > tr, tfoot > tr {
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
      text-align: left;
      padding: 1.6rem;
      vertical-align: top;
      border-top: 0;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    thead > tr > th {
      font-weight: 400;
      color: #757575;
      vertical-align: bottom;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    caption + thead > tr:first-child > th,
    colgroup + thead > tr:first-child > th,
    thead:first-child > tr:first-child > th,
    caption + thead > tr:first-child > td,
    colgroup + thead > tr:first-child > td,
    thead:first-child > tr:first-child > td {
      border-top: 0;
    }
    tbody + tbody {
      border-top: 1px solid rgba(0, 0, 0, 0.12);
    }
    thead:first-child > tr:first-child > th {
      width: 100px;
    }
    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .no-border {
    border: 0;
  }
}

.table-hover > tbody > tr:hover > {
  td, th {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

// Togglable visibility for tables
.table-hide{
  position: relative;
  z-index: -1;
  visibility: hidden;
}
.table-show{
  z-index: 2;
  visibility: visible;
}



/////////////////////////////////////
/// Chrome Scrollbar Style + Fix ////
/////////////////////////////////////
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: $prim;
    height: 3px;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}



/////////////////////////////////////
//////// Accordian Styling //////////
/////////////////////////////////////
div[class*='panel-'] {
  border-radius: 0px;
}

.panel {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #fff;
  background: none;
  box-shadow: none;
}

.panel:last-child {
  border-bottom: none;
}

.panel-group{
  margin-bottom: 0px;
  .panel + .panel {
    margin-top: 0;
  }
}

.panel-heading {
  background-color: #009688;
  border: none;
  color: #fff;
  padding: 0;
}

.panel-title a {
  display: block;
  color: #fff;
  padding: 15px 50px;
  position: relative;
  font-size: 1em;
  font-weight: 400;
}

.panel-body {
  background: #fff;
  padding: 0 25px;
  &.property{
    padding:0px;
  }
}

.panel-heading a:before {
  font-family: 'Material Icons';
  content: "add";
  -webkit-font-feature-settings: 'liga';

  position: absolute;
  left: 1.3em;
  top: .6em;
  font-size: 1.25em;
  transition: all 0.5s;
  transform: scale(1);
}

.panel-heading a[aria-expanded="true"]{
  &::before { transform: rotate(135deg);}
}



/////////////////////////////////////
//// Property Container Specific ////
/////////////////////////////////////
#amenities .group h2 {
    border-bottom: 1px solid $grey_blue;
    padding-bottom: 10px;
}

#three .thumbnail {
  border-radius: 2px;
  padding: 3px;
  &:hover{
    border-color: $grey_blue;
  }
}

.sunday, .day, .to, .input-group, .checkbox {
    display: inline-block;
}

.office-times { margin: 20px 0;}

.upload {
  margin-left: 25px;
}

.photo-body { padding: 25px 0px; }

.input-group { max-width: 80px; margin-bottom: -3px; }

span.input-group-addon { display: none; }

.day-group input.form-control {
    color: black;
    height: 16px;
    font-size: 1.1em;
    line-height: 1.6em;
    padding: 0 0 0 5px; // firefox fix
}

.day-group { margin: 15px 0px;}

.group { margin: 30px 0;}



/////////////////////////////////////
//////// Checkbox Styling ///////////
/////////////////////////////////////
.checkbox input[type="checkbox"]{ margin-left: 0px;}

.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkbox input[type=checkbox], label input[type=checkbox] {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none;
}

.checkbox .checkbox-material .check {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0,0,0, .54);
    border-radius: 2px;
    overflow: hidden;
    z-index: 1;
}
.checkbox input[type=checkbox]:checked ~ .checkbox-material .check {
    color: #009688;
    border-color: #009688;
    background-color: #009688;
    padding-left: 1px;
    line-height: 1.25em;
}

.checkbox .checkbox-material{
    vertical-align: middle;
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.checkbox input[type=checkbox]:checked ~ .checkbox-material .check:before {
    color: $white;
    font-family: 'Material Icons';
    content: "done";
    -webkit-font-feature-settings: 'liga';
}



/////////////////////////////////////
/// AMCharts Styling + Animations ///
/////////////////////////////////////
#chartdiv {
   width		: 100%;
	height		: 500px;
	background-color: $white;
}

.amcharts-graph-g2 .amcharts-graph-stroke {
  stroke-dasharray: 3px 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
  -webkit-animation: am-moving-dashes 1s linear infinite;
  animation: am-moving-dashes 1s linear infinite;
}

@-webkit-keyframes am-moving-dashes {
  100% {
    stroke-dashoffset: -31px;
  }
}
@keyframes am-moving-dashes {
  100% {
    stroke-dashoffset: -31px;
  }
}


.lastBullet {
  -webkit-animation: am-pulsating 1s ease-out infinite;
  animation: am-pulsating 1s ease-out infinite;
}
@-webkit-keyframes am-pulsating {
  0% {
    stroke-opacity: 1;
    stroke-width: 0px;
  }
  100% {
    stroke-opacity: 0;
    stroke-width: 50px;
  }
}
@keyframes am-pulsating {
  0% {
    stroke-opacity: 1;
    stroke-width: 0px;
  }
  100% {
    stroke-opacity: 0;
    stroke-width: 50px;
  }
}

.amcharts-graph-column-front {
  -webkit-transition: all .3s .3s ease-out;
  transition: all .3s .3s ease-out;
}
.amcharts-graph-column-front:hover {
  fill: #496375;
  stroke: #496375;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.amcharts-graph-g3 {
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 500%;
  -webkit-animation: am-draw 40s;
  animation: am-draw 40s;
}
@-webkit-keyframes am-draw {
    0% {
        stroke-dashoffset: 500%;
    }
    100% {
        stroke-dashoffset: 0%;
    }
}
@keyframes am-draw {
    0% {
        stroke-dashoffset: 500%;
    }
    100% {
        stroke-dashoffset: 0%;
    }
}

div.amcharts-chart-div a {
    visibility: hidden;
}

.thumbnail { margin-bottom: -10px; }



/////////////////////////////////////
////////// Media Queries ////////////
/////////////////////////////////////
@media(min-width: 768px) {
  #wrapper {
    padding-left: 210px;
    &.toggled {
      padding-left: 0;
      #sidebar-wrapper {
        width: 0;
      }
      #page-content-wrapper {
        position: relative;
        margin-right: 0;
      }
    }
  }
  #sidebar-wrapper {
    width: 210px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  .common-hours .checkbox label { padding-left: 0px;}
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
