// Adopted from my coworker Paul's.

/////////////////////////////////////
///////// Colors As I Go //////////\/
/////////////////////////////////////
$white: #fff;
$black: #000;

$grey: rgb(240, 240, 240);
$grey_blue: #607d8b;

$admin_sidebar: rgb(46, 62, 78);
$admin_sidebar_text: #dde3e8;
$admin_sidebar_border: #23282e;

$light: rgba(255, 255, 255, 0.5);
$lighter: rgba(255, 255, 255, 0.2);

$prim: #53e3a6;
$teal: #64ffda;
$cyan: #00bcd4;
$google_blue: #3369e8;
$google_blue_darker: #0d4ce0;

$orange: #d19b3d;


//////////////////////////////////////
// Material Design Bootstrap Colors //
//////////////////////////////////////
$default-color: #fff;
$primary-color: #009688;
$success-color: #4caf50;
$info-color: #03a9f4;
$warning-color: #ff5722;
$danger-color: #f44336;

.btn-default { background-color: $default-color; &:hover, &:focus { background-color: darken($default-color, 5%) } }
.btn-primary { background-color: $primary-color; &:hover, &:focus { background-color: lighten($primary-color, 5%)} }
.btn-success { background-color: $success-color; &:hover, &:focus { background-color: lighten($success-color, 5%)} }
.btn-info { background-color: $info-color; &:hover, &:focus { background-color: lighten($info-color, 5%)} }
.btn-warning { background-color: $warning-color; &:hover, &:focus { background-color: lighten($warning-color, 5%)} }
.btn-danger { background-color: $danger-color; &:hover, &:focus { background-color: lighten($danger-color, 5%)} }


/////////////////////////////////////
///////// Various Mixins ////////////
/////////////////////////////////////
.iconography {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $admin_sidebar_text;
  // padding-right: 20px;
}

.sidebar-icon-settings {
  font-size: 1.25em;
  position: absolute;
  left: 8px;
}

/////////////////////////////////////
/////// Material Icon Mixin /////////
/////////////////////////////////////
@mixin material-icon($icon) {
  font-family: 'Material Icons';
  content: $icon;
  -webkit-font-feature-settings: 'liga';
}


.material-shadow { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); }

.btn {
  position: relative;
  overflow:hidden;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
  &:hover, &:focus {
      box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
      outline: none;
  }
}
